.header-tab
  display: flex
  align-items: center
  border-bottom: 1px solid #c8c8c8
  opacity: 0.5
  height: 44px
  padding: 5px 12px

  &.active
    border-bottom: 1px solid #c8c8c8

    .profile-menu
      display: flex

  .profile-menu
    display: none
