.dropzone-container
  display: flex
  flex-direction: column
  height: 100%

  .dropzone-section
    height: 100%

    .dropzone-dragarea
      height: 100%
      margin: 0 20px 20px 20px
      border: 1px solid lightgrey
      border-radius: 5px
      display: flex
      align-items: center
      justify-content: center

  .browse-container
    display: flex
    align-items: center
    justify-content: center
