.admin-settings-container {
    padding: 30px;
}

.fhir-server-container {
    margin-top: 10px;
}

.fhir-server-content {
    display: flex;
    align-items: center;
}

.fhir-server-content > label {
    min-width: 80px;
}

.fhir-server-content > input {
    min-width: 400px;
}
