.admin-settings-container
    padding: 30px

.fhir-server-container
    margin-top: 10px

.fhir-server-content
    display: flex
    align-items: center

    label
        min-width: 80px

    input
        min-width: 400px

.googleFit-settings-container
    margin-top: 50px
